h1
{
    color:darkblue;
    font-family:'Times New Roman', Times, serif;
}

body
{
    background-color:skyblue;
}
a
{
    text-decoration: none;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 14pt;
    color:indigo;
    padding-right: 20px;
}